.form {
  font-family: sans-serif;
  text-align: center;
  padding-top: 100px;
  background-image: url('C:\Users\user\Desktop\React con\Product\product\src\cloud.PNG');
  background-repeat:no-repeat;
  background-size:cover;
  height:100vh;
}

.err{
  color:red;
  background-color: rgb(238, 174, 174);
  margin-top: 10px;
}

.btn{
  margin-top:10px;
  background-color: yellow;
  box-shadow: 10px;
}